mat-sidenav-container {
    height: 100%;
}
mat-sidenav {
    background-color: rgb(5 30 52);
    color: white;
    height: 100%;
    padding: 0.5rem;
}

mat-sidenav-content {
    padding: 1rem;
}

.firebase-logo {
    height: 2rem;
    width: 2rem;
}

.product {
    cursor: pointer;
}