
.round-container {
    margin-bottom: 1.5em;
}
.round-container .round {
    height: 10em;
    width: 10em;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid white;
}

.round-container .name {
    margin-top: 0.8em;
    text-align: center;
}