
.round-container {
    margin-bottom: 1.5rem;
}
.round-container .round {
    height: 10rem;
    width: 10rem;
    margin: 0 auto;
    border-radius: 20%;
    border: 1px solid white;
}

.round-container .name {
    margin-top: 0.8rem;
    text-align: center;
}

.mat-card-image {
    height: 15rem;
    object-fit: cover;
}

.content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.mat-card-content div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mat-card-content div:first-child {
    margin-bottom: 0.5rem;
}