.actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.5rem;
}

button.new-notification {
    background-color:#1a73e8;
    color: #fff;
}

.tab-content {
    padding: 1rem;
}

.table-header {
    padding: 1rem 2.5rem 0 2.5rem;
    line-height: 2rem;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    color: rgba(0,0,0,.64);
    background: rgb(250 250 250);
    font-weight: 500;
    font-size: 0.8rem;
    text-align: right;
}

.headers, .row {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.notification {
    flex-grow: 2;
}

.status, .platform, .send {
    flex-grow: 1;
}

mat-card {
    padding: 0;
}

.table-content {
    min-height: 2rem;
    padding: 1rem 2.5rem 0 2.5rem;
}