<div class="overlay" [ngClass]="!showWelcome() && 'hide'">

</div>


<div class="welcome" [ngClass]="!showWelcome() && 'hide'">
    <img class="bubble" src="assets/images/welcome-bubble.png">
    <img class="mascot" src="assets/images/robot_export.png">
    <mat-icon class="dismiss">clear</mat-icon>

    <div class="content">
        <p>
            Welcome to the Firebase for web demo! Learn how Firebase
            can help you quickly change the look and feel of your site
            with remote config and engage your audience with Cloud Messaging
        </p>
        <div class="lets-go" (click)="onLetsGo()">
            Lets go!
        </div>
    </div>
</div>

<div class="half" [ngClass]="showWelcome() && 'hide'">
    <img class="main-bubble" [ngClass]="{ hide: !showMain() || !isShowBubble}" src="assets/images/main_page_bubble.png">
    <img class="bubble" [ngClass]="{ hide: showMain() || !isShowBubble}" src="assets/images/welcome-bubble.png">
    <img class="mascot" src="assets/images/robot_export.png" (click)="toggleBubble()">
    <mat-icon class="dismiss" [ngClass]="{main: showMain(), hide: !isShowBubble}" (click)="hideBubble()">highlight_off
    </mat-icon>

    <div class="content" [ngClass]="{main: showMain(), hide: !isShowBubble}">

        <!-- Main -->
        <div [ngClass]="!showMain() && 'hide'" [@showHide]="showMain() ? 'show' : 'hide'">
            <p>
                This is the main page! To the right is a sample restaurant search and review app
                called FriendlyEats.
            </p>
            <p>
                Select one of the Firebase products on the dark colored bar to the left to see
                how they can help you grow your web business.
            </p>
        </div>

        <!-- RC -->
        <div [ngClass]="!showRc() && 'hide'" [@showHide]="showRc() ? 'show' : 'hide'">
            <p><b>Remote Config</b> is a powerful tool that helps you tailor content for your users</p>
            <p>Try for yourself by changing one of the parameters above, either <b>rounded</b>
                or <b>dark_mode</b>. Click to the right of each row to edit, valid options are <b>true</b> or <b>false</b>
            </p>
        </div>

        <!-- RC Dark Mode -->
        <div [ngClass]="!showRcDark() && 'hide'" [@showHide]="showRcDark() ? 'show' : 'hide'">
            <p>Amazing! You changed the page to dark mode. Again, with <b>Remote Config</b>
                you can use conditions to only rollout this change to a specific audience or test on a percentage of
                users (not covered in this demo).
                You could even create custom content for a specific location or local holiday.
            </p>
        </div>

        <!-- RC Rounded -->
        <div [ngClass]="!showRcRounded() && 'hide'" [@showHide]="showRcRounded() ? 'show' : 'hide'">
            <p>Nice! You changed the page layout and style with a simple parameter change. With <b>Remote Config</b>
                you can also create conditions for each parameter and target specific audience, locations, hardware and
                browsers (not covered in this demo).
                Now try changing <b>dark_mode</b> or checkout <b>Cloud Messaging</b>
            </p>
        </div>

        <!-- FCM -->
        <div [ngClass]="!showFcm() && 'hide'" [@showHide]="showFcm() ? 'show' : 'hide'">
            <p>
                <b>Cloud Messaging</b> helps you keep your users engaged and informed.
                Notify users of new content, special offers, you can target with predefined segments, or create your
                own.
            </p>
            <p>
                Give it a try! Select <b>New Notification</b> above and follow the steps.
            </p>
        </div>

        <!-- FCM MSG-->
        <div [ngClass]="!showFcmMsg() && 'hide'" [@showHide]="showFcmMsg() ? 'show' : 'hide'">
            <p>
                Perfect! You can see the message has been added to the list above and has
                appeared as a notification at the top left corner of the friendlyeats web app.
                We could send users special offers, reminders or in this case suggestions of restaurants they might
                enjoy.
                Try sending another message or checkout <b>Remote Config</b>
            </p>
        </div>
    </div>

    <div class="more-info">
        <!-- RC -->
        <div [ngClass]="!isAnyRc() && 'hide'" [@showHide]="isAnyRc() ? 'show' : 'hide'">
            <p class="text">Discover more about Remote Config</p>
            <div class="links">
                <a class="link" href="https://firebase.google.com/docs/remote-config/use-config-web" target="_blank">Docs</a>
                <a class="link" href="https://firebase.google.com/products/remote-config" target="_blank">Product Page</a>
            </div>
        </div>

        <!-- FCM -->
        <div [ngClass]="!isAnyFcm() && 'hide'" [@showHide]="isAnyFcm() ? 'show' : 'hide'">
            <p class="text">Discover more about Cloud Messaging</p>
            <div class="links">
                <a class="link" href="https://firebase.google.com/docs/cloud-messaging/js/client" target="_blank">Docs</a>
                <a class="link" href="https://firebase.google.com/products/cloud-messaging" target="_blank">Product Page</a>
            </div>
        </div>
    </div>
</div>