.overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.32);
    opacity: 1;
}

.mascot {
    position: fixed;
    width: 30rem;
    height: 30rem;
    left: 0;
    bottom: 0rem;
    z-index: 1001;
}