<div class="product-name">Remote Config</div>
<mat-tab-group>
    <mat-tab label="Parameters">
        <div class="tab-content">
            <div class="actions">
                <button mat-raised-button (click)="undefined">Add Parameter</button>
                <mat-icon>folder</mat-icon>
                <mat-icon>history</mat-icon>
                <mat-icon>more_vert</mat-icon>
            </div>
            <mat-card>
                <div class="table-header">
                    <div class="name">
                        <div>Name</div>
                    </div>
                    <div class="value">
                        <div>Value</div>
                    </div>
                </div>
                <div *ngFor="let param of parameters$ | async" class="table-row">
                    <div class="name">{{param.name}}</div>
                    <div class="value">{{param.value}}</div>
                    <div class="edit" (click)="onEdit(param)">edit</div>
                </div>
            </mat-card>
        </div>
    </mat-tab>
</mat-tab-group>