.table-header {
    display: flex;
    padding: 0 2.5rem;
    line-height: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, .64);
    background: rgb(250 250 250);
    font-weight: 500;
    font-size: 0.8rem;
}

.tab-content {
    padding: 1rem;
}

.name {
    max-width: 150px;
    width: 100%;
}

.value {
    flex-grow: 1;
}

.edit {
    display: none;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.54);
    height: 1.5rem;
}

.table-row:hover .edit {
    display: block;
}

.table-row {
    display: flex;
    padding: 1rem 2.5rem 1rem 2.5rem;
    line-height: 1.5rem;
}

.table-row:hover {
    background: rgba(0, 0, 0, 0.04);
}

.table-row:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

mat-card {
    padding: 0;
}

button {
    margin-bottom: 0.5rem;
    background-color: #1a73e8;
    color: #fff;
}

.product-name {
    color: rgb(27, 58, 87);
    font-size: 32px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.actions mat-icon {
    color: rgb(71, 98, 130);
    margin-left: 0.8rem;
}