<div class="shell">
    <mat-toolbar color='primary'>
        <!-- <button mat-raised-button (click)="drawer.toggle()">Console</button> -->
        <span>Firebase for Web demo</span>
    </mat-toolbar>
    <mat-sidenav-container>
        <mat-sidenav #drawer mode="side" opened>
            <app-console></app-console>
        </mat-sidenav>
        <mat-sidenav-content [ngClass]="(darkTheme$ | async) ? 'dark-theme' : ''" class="mat-app-background">
            <div class="loading" *ngIf="fakeLoading$ | async else elseBlock">
                <mat-spinner></mat-spinner>
                &nbsp;
                <div>
                    Reloading...
                </div>
            </div>
            <ng-template #elseBlock>
                <router-outlet></router-outlet>
            </ng-template>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>