.shell {
    height: 100%;
}

.shell .content{
    display: flex;
    flex-direction: row;
    min-height: 100%;
}

.loading {
    align-self: center;
}

app-console {
    width: 40%;
}

.friendly-eats {
    width: 60%;
    display: flex;
    justify-content: center;
    border-top: 1px solid;
}